@using eStoryContainer.Core.Utils
@model eStoryContainer.Core.ViewModels.HomePage
@for (int i = 0; i < Model.NewChaptersUpdate.Count; i++)
{
    var item = Model.NewChaptersUpdate[i];
    <div class="row" itemscope="" itemtype="https://schema.org/Book">
        <div class="col-xs-9 col-sm-6 col-md-5 col-title">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <h3 itemprop="name">
                <a href="@item.slug_story_name" title="@item.story_name" itemprop="url">@item.story_name</a>
            </h3>
        </div>
        <div class="hidden-xs col-sm-3 col-md-3 col-cat text-888">
            @for (int x = 0; x < item.Story?.genre.Count(); x++)
            {
                var gen = item.Story.genre[x];
                <a itemprop="genre" href="@gen.SlugifyExt().ConvertSlugifyToGenre()" title="@gen">@gen</a>
                if (item.Story?.genre.Count() > 1 && x < item.Story?.genre.Count() - 1)
                {
                    <span>,</span>
                }
            }
        </div>
        <div class="col-xs-3 col-sm-3 col-md-2 col-chap text-info">
            <a href="@item.slug.ConvertSlugifyToChapter()"
               title="@item.chapter_title">
                <span class="chapter-text">
                    @*<span>
                            Chương
                        </span>*@
                    @item.chapter_title
                </span>@*519*@
            </a>
        </div>
        <div class="hidden-xs hidden-sm col-md-2 col-time text-888">@item.modified_on.ToRelativeDate()</div>
    </div>
}
