@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HomePage
<div class="navbar navbar-default navbar-static-top" role="navigation" id="nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Hiện menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button>
            <h1>
                <a class="header-logo" href="https://truyendochay.com/" title="truyen doc hay">
                    truyen doc
                    hay
                </a>
            </h1>
        </div>
        <div class="navbar-collapse collapse" itemscope="">
            <meta itemprop="url" content="https://truyendochay.com/">
            <ul class="control nav navbar-nav ">
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle"
                       data-toggle="dropdown">
                        <span class="glyphicon glyphicon-list"></span> Danh sách <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var menu in Model.ListStories)
                        {
                            <li>
                                <a href="https://truyenfull.vn/danh-sach/truyen-moi/"
                                   title="@menu.category_name">@menu.category_name</a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle"
                       data-toggle="dropdown">
                        <span class="glyphicon glyphicon-list"></span> Thể loại <span class="caret"></span>
                    </a>
                    <div class="dropdown-menu multi-column">
                        <div class="row">
                            @for (int i = 0; i < Model.CategoryStories.Count; i++)
                             {
                                var x = i + 1;
                                if (i%13 == 0 || i == 0)
                                {
                                    @:<div class="col-md-4">
                                        @:<ul class="dropdown-menu">
                                        }
                                        <li>
                                            <a href="https://truyenfull.vn/the-loai/tien-hiep/"
                                               title="Truyện @Model.CategoryStories[i].category_story_name">@Model.CategoryStories[i].category_story_name</a>
                                        </li>
                                if (i == 12 || i == 25 || i ==38)
                                {
                                    @:</ul>
                                @:</div>
                                }
                            }
                        </div>
                    </div>
                </li>
                @*<li class="dropdown">
                        <a href="javascript:void(0)" class="dropdown-toggle"
                           data-toggle="dropdown">
                            <span class="glyphicon glyphicon-cog"></span> Tùy chỉnh <span class="caret"></span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right settings">
                            <form class="form-horizontal">
                                <div class="form-group form-group-sm">
                                    <label class="col-sm-2 col-md-5 control-label"
                                           for="truyen-background">Màu nền</label>
                                    <div class="col-sm-5 col-md-7">
                                        <select class="form-control"
                                                id="truyen-background">
                                            <option value="#F4F4F4" selected="">Xám nhạt</option>
                                            <option value="#232323">Màu tối</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </li>*@
            </ul>
            <form class="navbar-form navbar-right" action="tim-kiem" role="search"
                  itemprop="potentialAction" itemscope="" itemtype="https://schema.org/SearchAction">
                <div class="input-group search-holder">
                    <meta itemprop="target" content="/tim-kiem/?tukhoa={tukhoa}">
                    <input aria-label="Từ khóa tìm kiếm" role="search key" class="form-control" id="search-input"
                           type="search" name="tukhoa" placeholder="Tìm kiếm..." value="" itemprop="query-input" required="">
                    <div class="input-group-btn">
                        <button class="btn btn-default" type="button" id="sumbit-search"
                                aria-label="Tìm kiếm" role="search">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </div>
                </div>
                <div class="list-group list-search-res hide">
                    @*<a href="https://truyenfull.vn/chiec-om-tu-vet-gio-qui/" class="list-group-item" title="Chiếc Ôm Từ Vệt Gió Quỉ">Chiếc Ôm Từ Vệt Gió Quỉ</a>*@
                @*<a href="https://truyenfull.vn/tim-kiem/?tukhoa=vẻt" class="list-group-item" title="Xem thêm kết quả khác"><i>Xem thêm kết quả khác <span class="glyphicon glyphicon-search"></span></i></a>*@
                </div>
                @*<div class="list-group list-search-res hide">

                </div>*@
            </form>
        </div>
    </div>
    <div class="navbar-breadcrumb">
        @if (Model.Story != null)
        {
            <div class="container breadcrumb-container">
                <ol class="breadcrumb" itemscope="" itemtype="https://schema.org/BreadcrumbList">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
                        <a href="http://truyendochay.com/" accesskey="1">
                            <span class="glyphicon glyphicon-home"></span>
                        </a><a href="http://truyendochay.com/"
                               title="Đọc truyện online" itemprop="item"><span itemprop="name">Truyện</span></a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li class="active" itemprop="itemListElement" itemscope=""
                        itemtype="https://schema.org/ListItem">
                        <h1>
                            <a href=@Model.Story.slug title=@Model.Story.story_name itemprop="item">
                                <span itemprop="name">@Model.Story.story_name</span>
                            </a>
                        </h1>
                        <meta itemprop="position" content="2">
                    </li>
                </ol>
            </div>
        }
        else
        {
            <div class="container breadcrumb-container">
                Đọc truyện online, đọc truyện chữ, truyện full, truyện hay.
                Tổng hợp đầy đủ và cập nhật liên tục.
            </div>
        }
    </div>
</div>
<script>
    function loadData() {
        var textSearch = $("#search-input").val();
        $.ajax({
            type: "GET",
            url: "tim-kiem",
            data: { textSearch: textSearch },
            contentType: "application/json; charset=utf-8",
            success: function (datas) {
                var result = '';
                if (datas?.length > 0) {
                    for (var i = 0; i < datas.length; i++) {
                        result += `<a href="${datas[i].story_name}" class="list-group-item" title="${datas[i].story_name}">${datas[i].story_name}</a>`;
                    }
                } else {
                    result += `<span class="list-group-item text-888">Không tìm thấy</span>`;
                }

                $('div').removeClass("hide");
                $('.list-search-res').html(result);
            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    }

    $("#sumbit-search").click(function () {
        loadData();
    });

    $(document).on('click', function (e) {
        var hasHide = $('div.list-search-res').hasClass("hide");
        if ($(e.target).closest(".list-search-res").length === 0 && !hasHide) {
            $("div.list-search-res").addClass("hide");
        }
    });

    $(document).ready(function () {
        $("#search-input").on("input", function () {
            var val = $("#search-input").val();
            if (val.length >= 2) {
                setInterval(
                    loadData(), 1000
                );
            }
        });
    });
</script>