@{
    ViewData["Title"] = Model.Story.story_name;
    ViewData["Description"] = Model.Story.description_seo;
    ViewData["Keywords"] = Model.Story.keywords;
}
@model eStoryContainer.Core.ViewModels.StoryPageViewModel
<div class="container csstransforms3d" id="truyen">
    <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
        <div class="col-xs-12 col-info-desc" itemscope="" itemtype="https://schema.org/Book">
            <div class="title-list book-intro">
                <h2>Thông tin truyện</h2>
            </div>
            <h3 class="title" itemprop="name">@Model.Story.story_name</h3>
            <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                <div class="books">
                    <div class="book">
                        <img src="@Model.Story.avatar_path"
                             alt="@Model.Story.story_name" itemprop="image">
                    </div>
                </div>
                <div class="info">
                    <div>
                        <h3>Tác giả:</h3><a itemprop="author" href="javascript:void(0)" title="@Model.Story.author">@Model.Story.author</a>
                    </div>
                    <div>
                        <h3>Thể loại:</h3>
                        @foreach (var gen in Model.Story.genre)
                        {
                            <a itemprop="genre" href="javascript:void(0)" title="@gen">@gen</a>
                        }
                    </div>
                    <div>
                        <h3>Trạng thái:</h3><span class="text-primary">@Model.Story.status</span>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 desc">
                <div class="rate">
                    <div class="rate-holder" data-score="10.0" style="cursor: pointer;">
                        @*<img alt="1"
                src="//static.8cache.com/lib/raty/images/star-on.png"
                title="Không còn gì để nói...">&nbsp;<img alt="2"
                                                          src="//static.8cache.com/lib/raty/images/star-on.png" title="WTF">&nbsp;<img alt="3"
                                                                                                                                       src="//static.8cache.com/lib/raty/images/star-on.png"
                                                                                                                                       title="Cái gì thế này ?!">&nbsp;<img alt="4"
                                                                                                                                                                            src="//static.8cache.com/lib/raty/images/star-on.png" title="Haizz">&nbsp;<img alt="5" src="//static.8cache.com/lib/raty/images/star-on.png" title="Tạm">&nbsp;<img alt="6" src="//static.8cache.com/lib/raty/images/star-on.png"
                                                                                                                                                                                                                                                                                                                                                title="Cũng được">&nbsp;<img alt="7"
                                                                                                                                                                                                                                                                                                                                                                             src="//static.8cache.com/lib/raty/images/star-on.png" title="Khá đấy">&nbsp;<img alt="8" src="//static.8cache.com/lib/raty/images/star-on.png"
                                                                                                                                                                                                                                                                                                                                                                                                                                                              title="Được">&nbsp;<img alt="9"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      src="//static.8cache.com/lib/raty/images/star-on.png" title="Hay">&nbsp;<img alt="10" src="//static.8cache.com/lib/raty/images/star-on.png"
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   title="Tuyệt đỉnh!"><input name="score" type="hidden" value="10">*@
                    </div>
                    <em class="rate-text"></em>
                    <div class="small" itemprop="aggregateRating" itemscope=""
                         itemtype="https://schema.org/AggregateRating">
                        <em>
                            Đánh giá: <strong>
                                <span itemprop="ratingValue">10.0</span>
                            </strong>/<span class="text-muted"
                                            itemprop="bestRating">10</span>
                            @*từ <strong>
                        <span itemprop="ratingCount">1</span>
                        lượt
                    </strong>*@
                        </em>
                    </div>
                </div>
                @Html.Raw(Model.Story.description)
                @*<div class="desc-text" itemprop="description">
            @Html.Raw(Model.Story.description)
        </div>*@
                @*<div class="showmore">
            <a class="btn btn-default btn-xs hide" href="javascript:void(0)"
               title="Xem thêm">Xem thêm »</a>
        </div>*@
                <div class="l-chapter">
                    <div class="l-title">
                        <h3>Các chương mới nhất</h3>
                    </div>
                    <ul class="l-chapters">
                        @for (var index = 0; index < Model.LastChapters.Count; index++)
                        {
                            var item = Model.LastChapters[index];
                            <li>
                                <span class="glyphicon glyphicon-certificate"></span>
                                <a href="/chi-tiet/@item.slug" title="@item.chapter_title">
                                    <span class="chapter-text">
                                        <span>
                                            @item.chapter_title
                                        </span>
                                    </span>
                                </a>
                            </li>
                        }

                    </ul>
                </div>
            </div>
        </div>

        <div class="col-xs-12" id="list-chapter">
            <div class="title-list">
                <h2>Danh sách chương</h2>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <ul class="list-chapter">
                        @for (var index = 0; index < Model.Chapters.Items.Count; index++)
                        {
                            var item = Model.Chapters.Items[index];
                            if (index <= 24)
                            {
                                <li>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <a href="/chi-tiet/@item.slug" title="@item.chapter_title">
                                        <span class="chapter-text">
                                            <span>
                                                @item.chapter_title
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <ul class="list-chapter">
                        @for (var index = 0; index < Model.Chapters.Items.Count; index++)
                        {
                            var item = Model.Chapters.Items[index];
                            if (index > 24)
                            {
                                <li>
                                    <span class="glyphicon glyphicon-certificate"></span>
                                    <a href="/chi-tiet/@item.slug" title="@item.chapter_title">
                                        <span class="chapter-text">
                                            <span>
                                                @item.chapter_title
                                            </span>
                                        </span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            @await Component.InvokeAsync("Pagination", Model.Chapters);
            <!--<ul class="pagination pagination-sm"> -->
            @*@{
            for (var i = 0; i < Model.PageCount; i++)
            {
                if (i < 5)
                {
                        <li><a href="javascript:void(0);" onclick="loadDataChapters(@i);" title="@Model.Story.story_name - Trang @i">@i</a></li>
                }
            }
        }*@
            @*<li class="active"><span>1<span class="sr-only"> (đang xem)</span></span></li>
        <li><a href="https://truyenfull.vn/linh-vu-thien-ha/trang-2/#list-chapter" title="Linh Vũ Thiên Hạ - Trang 2">2</a></li>
        <li><a href="https://truyenfull.vn/linh-vu-thien-ha/trang-3/#list-chapter" title="Linh Vũ Thiên Hạ - Trang 3">3</a></li>
        <li><a href="https://truyenfull.vn/linh-vu-thien-ha/trang-4/#list-chapter" title="Linh Vũ Thiên Hạ - Trang 4">4</a></li>
        <li><a href="https://truyenfull.vn/linh-vu-thien-ha/trang-6/#list-chapter" title="Linh Vũ Thiên Hạ - Trang 6">6</a></li>
        <li><a href="https://truyenfull.vn/linh-vu-thien-ha/trang-11/#list-chapter" title="Linh Vũ Thiên Hạ - Trang 11">11</a></li>
        <li><a href="https://truyenfull.vn/linh-vu-thien-ha/trang-2/#list-chapter" title="Linh Vũ Thiên Hạ - Trang 2"><span class="sr-only">Trang tiếp</span><span class="glyphicon glyphicon-menu-right"></span></a></li>
        <li><a href="https://truyenfull.vn/linh-vu-thien-ha/trang-95/#list-chapter" title="Linh Vũ Thiên Hạ - Trang 95">Cuối <span class="arrow">»</span></a></li>*@
            <!--</ul>-->
            @*<input id="truyen-id" type="hidden" value="22004"><input id="total-page" type="hidden" value="1"><input id="truyen-ascii" type="hidden" value="nu-than-bo"><input id="truyen-comment" type="hidden" value="nu-than-bo"><input id="chapter-sac" type="hidden" value="0">*@
        </div>
        <div class="col-xs-12 comment-box">
            <div class="title-list">
                <h2>Bình luận truyện</h2>
            </div>
            <div class="col-xs-12">
                <div class="row" id="fb-comment-story">
                    <div class="fb-comments fb_iframe_widget fb_iframe_widget_fluid_desktop"
                         data-href="http://truyendochay.com/nu-than-bo/" data-width="100%" width="100%"
                         data-numposts="5" data-colorscheme="light" fb-xfbml-state="rendered"
                         fb-iframe-plugin-query="app_id=333184773543272&amp;color_scheme=light&amp;container_width=832&amp;height=100&amp;href=http%3A%2F%2Ftruyenfull.vn%2Fnu-than-bo%2F&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;width="
                         style="width: 100%;">
                        <span style="vertical-align: bottom; width: 100%; height: 202px;">
                            <iframe name="f2f7d29a3c6ea2c" width="1000px" height="100px"
                                    data-testid="fb:comments Facebook Social Plugin"
                                    title="fb:comments Facebook Social Plugin" frameborder="0"
                                    allowtransparency="true" allowfullscreen="true" scrolling="no"
                                    allow="encrypted-media"
                                    src="https://www.facebook.com/plugins/comments.php?app_id=333184773543272&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df1083ffc5c470b4%26domain%3Dtruyenfull.vn%26origin%3Dhttps%253A%252F%252Ftruyenfull.vn%252Ff3af4ee29f068b%26relation%3Dparent.parent&amp;color_scheme=light&amp;container_width=832&amp;height=100&amp;href=http%3A%2F%2Ftruyenfull.vn%2Fnu-than-bo%2F&amp;locale=vi_VN&amp;numposts=5&amp;sdk=joey&amp;width="
                                    style="border: none; visibility: visible; width: 100%; height: 202px;"
                                    class=""></iframe>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    function loadDataChapters(pageIndex) {
        //var pageIndex = pageIndex;
        $.ajax({
            type: "GET",
            url: "${@Model.Story.slug}/trang-${pageIndex}/#list-chapter",
            contentType: "application/json; charset=utf-8",
            success: function (datas) {
                if (datas?.length > 0) {
                    @Model.Chapters = datas;
                }
            },
            error: function (req, status, error) {
                console.log(error);
            }
        });
    };


    //$("#sumbit-search").click(function () {
    //    loadData();
    //});

</script>